<div class="bar">
    <button id="menu" type="button" aria-haspopup="true" aria-controls="home-nav" aria-expanded="false">
        <span class="visually-hidden">Open menu</span>
    </button>
    <div class="navigation">
        <nav id="home-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sign-in">Sign in</a></li>
                <li><a href="/demo">Try a demo</a></li>
                <li><a href="/sign-up" class="button">Get Started</a></li>
            </ul>
        </nav>
    </div>
</div>