<div role="dialog" class="modal hidden" aria-labelledby="dialog-title" aria-modal="true">
    <div class="modal-content">
        <h2 id="dialog-title">Delete todo</h2>
        <p></p>
        <div>
            <button type="button" id="cancel">Cancel</button>
            <button type="button" id="confirm">Confirm</button>
        </div>
    </div>
</div>