<div role="dialog" class="modal hidden" aria-labelledby="dialog-title" aria-modal="true">
    <div class="modal-content">
        <h2 id="dialog-title">Delete to-do</h2>
        <p></p>
        <div>
            <button type="button" id="cancel">No</button>
            <button type="button" id="confirm">Yes</button>
        </div>
    </div>
</div>