<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

  <body>
    <a class="skip-link visually-hidden" href="#main">Skip to main content</a>
    <div class="home">
      <main id="main">
        <h1>
          All your to-dos in one app. For free.
        </h1>
        <a href="/sign-up" class="button">Get Started</a> or <a href="/demo">try a demo</a>
        <h2>Simple to use</h2>
        <p><span class="highlight">Life is hard enough</span>, don’t make its organization harder!</p>
        <img src="/images/planning.svg"
          alt="A woman with a whiteboard for planning, illustrated in a minimal and flat style">
        <h2>Minimal</h2>
        <p>It does one thing and it does well, so you can <span class="highlight">focus only on your goals</span></p>
        <img src="/images/growth.svg"
          alt="A man with a laptop climbing a bar graph, illustrated in a minimal and flat style">
        <section>
          <h2>Features</h2>
          <article>
            <h3>No download</h3>
            <img src="/images/devices.svg" alt="A phone and a laptop illustrated in a minimal and flat style">
            <p>It works on any device without installation</p>
          </article>

          <article>
            <h3>Priority</h3>
            <img src="/images/target.svg" alt="A target with an arrow in the center">
            <p>Mark the priority of your
              to-dos and keep an eye the
              most important ones</p>
          </article>

          <article>
            <h3>Filters</h3>
            <img src="/images/filters.svg" alt="A folder with several files inside and a lens">
            <p>See your to-dos filtering by
              priority and status</p>
          </article>
        </section>
        <a href="/sign-up" class="button">Get Started</a> or <a href="/demo">try a demo</a>
      </main>
    </div>
    <footer>
      <p class="note">Developed by Federica Ercole for exercise purpose only. Please don’t insert important and/or
        personal information in this website!</p>
    </footer>
  </body>

</html>