<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/menu.ejs") %>
      <main>
        <h1>
          <%= title %>
        </h1>
        <a href="/todo/new">Add a new todo</a>
        <%- include("./partials/todos.ejs") %>
      </main>
  </body>

</html>