<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/menu.ejs") %>
      <main>
        <header>
          <h1>
            <%= title %>
          </h1>
        </header>
        <%- include("./partials/message.ejs") %>
          <form method="post" action="/category/new">
            <div>
              <label for="new-category">New category</label>
              <input type="text" id="new-category" name="name">
            </div>
            <button type="submit" id="submit">Create category</button>
          </form>
      </main>
      <script src="/javascripts/navigation.js"></script>
  </body>

</html>