<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/message.ejs") %>
      <a class="skip-link visually-hidden" href="#main">Skip to main content</a>
      <div class="page">
        <%- include("./partials/menu.ejs") %>
          <main id="main">
            <header>
              <h1>
                <%= title %>
              </h1>
            </header>

            <form method="post" action="/todo/category" novalidate>
              <div>
                <p class="info error hidden" id="cat-err" aria-live="polite"></p>
                <label for="new-category">New category</label>
                <input type="text" id="new-category" name="name" aria-describedby="cat-err" aria-invalid="false"
                  minlength="3" maxlength="30" required>
              </div>
              <button type="submit" id="submit">Create category</button>
            </form>
          </main>
      </div>
      <script src="/javascripts/navigation.js"></script>
      <script src="/javascripts/category-validation.js"></script>
  </body>

</html>