@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

/* Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/*Basic styles*/
:root {
  --fs-50: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
  --fs-100: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-200: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
  --fs-300: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
  --fs-400: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --fs-500: clamp(2.3rem, calc(1.50rem + 3vw), 4.5rem);
  --high-priority: #f87171;
  --high-priority-light: hsl(0, 50%, 71%);
  --medium-priority: #fde68a;
  --medium-priority-light: hsl(48, 77%, 77%);
  --low-priority: #bef264;
  --low-priority-light: hsl(82, 65%, 67%);
  --none-priority: #cbd5e1;
  --none-priority-light: hsl(213, 7%, 84%);
  --background-color: #f1f5f9;
  --background-color-400: hsl(210, 40%, 90%);
  --background-color-600: hsl(210, 40%, 80%);
  --accent-color: rgb(156, 196, 251);
  --accent-color-400: rgb(81, 139, 221);
  --accent-color-800: hsl(215, 67%, 39%);
  --secondary-color-400: hsl(215, 14%, 64%);
  --secondary-color-800: hsl(213, 14%, 25%);
  --secondary-color-900: hsl(213, 16%, 3%);
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: var(--fs-100);
  min-height: 100vh;
  color: var(--secondary-color-900);
  background-color: var(--background-color);
}

.page {
  display: flex;
  flex-wrap: wrap;
  padding: clamp(3rem, 9%, 4rem);
}

.page>.navigation {
  flex-grow: 1;
  position: absolute;
}

.page>main {
  flex-basis: 0;
  flex-grow: 999;
}

.home>main {
  padding-inline: 1rem;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

svg {
  inline-size: max(24px, 1.5em);
  block-size: max(24px, 1.5em);
  flex-shrink: 0;
}

img {
  max-width: 100%;
  display: block;
}

/*Typography*/
h1 {
  font-size: var(--fs-400);
}

h2 {
  font-size: var(--fs-300);
}

h4 {
  text-transform: uppercase;
  margin-right: auto;
}

.note {
  font-size: var(--fs-50);
}

.highlight {
  background-color: var(--accent-color);
  padding: 0.5rem;
}

/*Homepage*/

.home {
  margin: 0 auto;
  max-width: min(1400px, 100%);
  text-align: center;
}

.img-container {
  border: 5px solid var(--secondary-color-800);
  box-shadow: 14px 14px 0px var(--background-color-600);
  max-width: min(300px, 100%);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.home h1 {
  font-size: var(--fs-500);
  max-width: 22ch;
  margin: 0 auto;
}

.home h2 {
  font-size: var(--fs-400);
}

.home h3 {
  font-size: var(--fs-300);
}

.home h2+p {
  margin-block-start: 1rem;
}

.home section {
  grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
}

.home section article {
  flex-direction: column;
  padding: 2rem;
  justify-content: flex-start;
  align-items: stretch;
}

.home article>*+* {
  margin-block-start: 1.5rem;
}

.home section article img {
  max-height: 161px;
}

.home article header {
  padding-block-end: 1rem;
}

.home article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.home article div {
  max-width: min(400px, 100%);
}

.home article img {
  width: 700px;
  max-height: 600px;
}

.home h1+p,
.home section+p {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.home article p {
  line-height: 1.7;
}

/*404 error page*/

.error-404 img {
  margin-inline: auto;
}

.error-404 {
  padding-block: clamp(3rem, 9%, 4rem);
  padding-inline: 1rem;
}

/*Nav*/
.navigation {
  display: none;
  z-index: 9;
}

.bar nav a:not(.button) {
  padding: 0.5rem 1rem;
  width: 100%;
  border: 3px solid transparent;
}

.page nav li:nth-of-type(2) {
  margin-block-end: 3rem;
}

.page nav li+li {
  margin-block-start: 1rem;
}

nav li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bar>.navigation ul {
  display: flex;
  gap: 1rem;
}

.bar+.home {
  padding-block-start: clamp(2rem, 12%, 6rem);
}

.bar>.navigation {
  width: 100%;
}

/* Main */
main header {
  padding-block-end: 32px;
  border-bottom: 2px solid var(--secondary-color-800);
}

header>*+* {
  margin-block-start: 16px;
}

main>*+*,
footer {
  margin-block-start: clamp(3rem, 10%, 5rem);
}

/*Footer*/
footer {
  background-color: var(--background-color-600);
  padding: 2rem 1rem;
  text-align: center;
}

/*Todos*/
section {
  display: grid;
  gap: 32px;
}

section h2 {
  grid-column: 1/-1;
}

section article {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: clamp(1rem, 3%, 1.5rem);
  align-items: center;
  border: 3px solid var(--secondary-color-800);
  box-shadow: 7px 7px 0px var(--background-color-600);
}

.done h3 {
  text-decoration: line-through;
}

.high,
.error {
  background-color: var(--high-priority);
}

.high.done {
  background-color: var(--high-priority-light);
}

.medium {
  background-color: var(--medium-priority);
}

.medium.done {
  background-color: var(--medium-priority-light);
}

.low,
.success {
  background-color: var(--low-priority);
}

.low.done {
  background-color: var(--low-priority-light);
}

.none {
  background-color: var(--none-priority);
}

.none.done {
  background-color: var(--none-priority-light);
}

section input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #FFF;
  color: var(--secondary-color-800);
  width: max(44px, 2em);
  height: max(44px, 2em);
  border: 3px solid currentColor;
  display: grid;
  place-content: center;
  flex-shrink: 0;
}

section input[type="checkbox"]::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--secondary-color-800);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

section input[type="checkbox"]:checked::before {
  transform: scale(1);
}

section div {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

/*Bar*/
.bar {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--accent-color);
  padding: 1rem;
  border-bottom: 3px solid var(--secondary-color-800);
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.bar>div>button {
  display: flex;
  align-items: center;
}

/*Todos by category page*/
header div,
header form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 24px;
}

header form {
  align-items: center;
}

header form input[type="text"] {
  font-size: var(--fs-200);
  font-weight: 500;
}

div h1 {
  margin-right: auto;
}

/*Links and button states*/

a {
  color: var(--secondary-color-900);
}

a:hover,
a:active,
.link:hover,
.link:active,
a[aria-current] {
  text-decoration: underline;
  font-weight: 500;
}

*:not(#account, .bar a, #menu):focus,
.close:hover,
fieldset [type="checkbox"]:focus+label {
  outline: 3px solid var(--secondary-color-800);
  outline-offset: 3px;
}

#account:focus-visible {
  outline: 3px solid var(--secondary-color-800);
  outline-offset: 3px;
}

button:not(.link, .close, #account, #menu):hover,
.button:hover,
button:not(.link, .close, #account, #menu):focus,
.button:focus {
  background-color: var(--accent-color-800);
  color: var(--background-color);
  text-decoration: none;
  box-shadow: 0px 0px 0px var(--secondary-color-800);
}

.underline {
  text-decoration: underline;
}

.skip-link:focus {
  display: block;
  background-color: var(--background-color);
  color: var(--secondary-color-900);
  text-decoration: underline;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: auto;
  width: max-content;
  padding: 16px;
  z-index: 20;
}

#user-menu a:hover,
#user-menu a:active,
#user-menu a:focus {
  background-color: var(--background-color-400);
  text-decoration: underline;
  font-weight: 500;
  outline: 0;
}

#home-nav .button:hover,
#home-nav .button:focus {
  background-color: var(--background-color-400);
  color: var(--secondary-color-800);
}

.bar>.navigation a:hover,
.bar>.navigation a:focus,
#menu:hover,
#menu:focus {
  border-color: var(--secondary-color-800);
  outline: 0;
  text-decoration: none;
}

/*Forms and dropdown*/

main>form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: min(500px, 100%);
}

label {
  display: block;
  font-weight: 500;
}

main>form *+* {
  margin-block-start: 12px;
}

main>form>*+* {
  margin-block-start: 32px;
}

input:not(input[type="checkbox"]),
select {
  border: 3px solid var(--secondary-color-800);
  font-family: inherit;
  font-size: var(--fs-100);
  padding: 4px 12px;
  width: min(500px, 100%);
  background-color: #FFF;
  color: var(--secondary-color-800);
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  border: none;
  flex-basis: 100%;
}

fieldset:last-of-type {
  margin-inline-end: auto;
}

legend {
  display: contents;
  font-weight: 500;
}

fieldset input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  position: fixed;
}

fieldset label {
  padding: 4px 16px;
  background-color: var(--accent-color);
  font-weight: 400;
  border: 3px solid var(--secondary-color-800);
}

fieldset div>div {
  gap: 0;
}

fieldset input[type="checkbox"]:checked+label {
  background-color: var(--accent-color-800);
  color: var(--background-color);
  font-weight: 500;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  z-index: 1;
  border: 3px solid var(--secondary-color-800);
}

#filter-menu {
  margin-inline-end: clamp(1rem, 6%, 3rem);
  padding: 2rem 1rem;
  max-width: min(500px, 100%);
}

#filter-menu>div {
  gap: 16px;
}

#user-menu {
  width: min(250px, 100%);
  right: calc(1rem - 6px);
}

#user-menu>* {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 1rem;
}

/*Buttons*/

button,
.button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: var(--secondary-color-900);
  border: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
}

button:not(.link, .close, #account, #menu),
.button {
  border: 3px solid var(--secondary-color-800);
  padding: 8px 16px;
  background-color: var(--accent-color);
  box-shadow: 4px 4px 0px var(--secondary-color-800);
}

#filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown button {
  flex-basis: 100%;
}

#home-nav .button {
  background-color: var(--background-color);
  flex-basis: 100%;
}

.bar>.navigation ul {
  flex-direction: column;
}

/*Menu button*/
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 11;
  box-shadow: none;
  background-image: url("../images/open-menu.svg");
  background-repeat: no-repeat;
  background-size: 32px auto;
  background-position: 50%;
  background-color: transparent;
  border: 3px solid transparent;
  margin-inline-end: auto;
}

#menu[aria-expanded="true"] {
  background-image: url("../images/close-menu.svg");
}

.navigation.show-menu {
  display: block;
}

.page>.navigation.show-menu {
  background-color: var(--background-color);
  width: calc(100% - clamp(3rem, 9%, 4rem));
  height: 100%;
}

.dropdown.show-menu {
  display: flex;
}

#account {
  padding: 0.5rem 0 0.5rem 0.5rem;
}

/*Modal*/

.hidden,
.info.hidden {
  display: none;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  inset: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: min(500px, 100% - 2rem);
  padding: 32px;
  background-color: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--secondary-color-800);
}

.modal-content>*+* {
  margin-block-start: 2rem;
}

.modal-content>div {
  display: flex;
  gap: 48px;
}

/*Info messages*/

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--secondary-color-800);
  padding: 1rem;
}

.info>*,
p.info {
  gap: 8px;
  display: flex;
  align-items: center;
}

.info ul {
  flex-direction: column;
  margin-block-start: 0;
}

.info li+li {
  margin-block-start: 0.5rem;
}

header .info,
form .info {
  border: 3px solid var(--secondary-color-800);
  justify-content: flex-start;
}

/* Sign in sign up pages*/
.card {
  display: flex;
  justify-content: center;
  padding-block: clamp(3rem, 9%, 5rem);
  padding-inline: 1rem;
}

.card>main {
  border: 5px solid var(--secondary-color-800);
  width: min(550px, 100%);
  box-shadow: 14px 14px 0px var(--background-color-600);
  padding: clamp(1rem, 6%, 3rem);
}

.card>main>header {
  margin-block-start: 0;
  text-align: center;
}

.card .note {
  text-align: right;
}

/* Media queries*/
@media screen and (min-width: 50rem) {
  .page>.navigation {
    display: block;
    position: static;
    flex-basis: clamp(15rem, 25%, 30rem);
  }

  .bar>.navigation ul {
    flex-direction: row;
  }

  .bar>.navigation {
    display: block;
  }

  #menu {
    display: none;
  }

  .img-container {
    max-width: 900px;
  }

  #home-nav ul li:first-of-type {
    margin-inline-end: auto;
  }
}

@media screen and (min-width: 75rem) {
  .page section {
    grid-template-columns: repeat(2, 1fr);
  }

  .home article:first-of-type div {
    order: 2;
  }
}

@media screen and (prefers-reduced-motion:no-preference) {

  button:not(.link, .close, #account, #menu),
  .button {
    transition: box-shadow ease 0.5s;
  }
}