@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

/* Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/*Basic styles*/
:root {
  --fs-50: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
  --fs-100: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --fs-200: clamp(1.35rem, calc(1.20rem + 0.73vw), 1.77rem);
  --fs-300: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.50rem);
  --fs-400: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --high-priority: #f87171;
  --high-priority-light: hsl(0, 50%, 71%);
  --medium-priority: #fde68a;
  --medium-priority-light: hsl(48, 77%, 77%);
  --low-priority: #bef264;
  --low-priority-light: hsl(82, 65%, 67%);
  --none-priority: #cbd5e1;
  --none-priority-light: hsl(213, 7%, 84%);
  --background-color: #f1f5f9;
  --accent-color: rgb(156, 196, 251);
  --accent-color-400: rgb(81, 139, 221);
  --accent-color-800: hsl(215, 67%, 39%);
  --secondary-color-400: hsl(215, 14%, 64%);
  --secondary-color-800: hsl(213, 14%, 25%);
  --secondary-color-900: hsl(213, 16%, 3%);
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: var(--fs-100);
  min-height: 100vh;
  color: var(--secondary-color-900);
  background-color: var(--background-color);
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.page>.navigation {
  flex-basis: clamp(15rem, 25%, 30rem);
  flex-grow: 1;
  padding-inline-start: clamp(1rem, 3%, 6rem);
}

.page>main {
  flex-basis: 0;
  flex-grow: 999;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

svg {
  inline-size: max(24px, 1.5em);
  block-size: max(24px, 1.5em);
  flex-shrink: 0;
}

/*Typography*/
h1 {
  font-size: var(--fs-400);
}

h2 {
  font-size: var(--fs-300);
}

h4 {
  text-transform: uppercase;
  margin-right: auto;
}

/*Nav*/
.navigation {
  display: none;
  position: absolute;
  z-index: 9;
  height: fit-content;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 3rem 0 2rem 0;
}

nav li:first-of-type {
  margin-block-start: 3rem;
}

nav li:nth-of-type(2) {
  margin-block-end: 3rem;
}

nav li+li {
  margin-block-start: 1rem;
}

nav li {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Main */
main {
  padding: clamp(1rem, 6%, 3rem);
}

main header {
  padding-block-end: 32px;
  border-bottom: 2px dashed var(--secondary-color-400);
  margin-block-start: 5rem;
}

header>*+* {
  margin-block-start: 16px;
}

main>*+* {
  margin-block-start: clamp(3rem, 12%, 6rem);
}

/*Todos*/
section {
  display: grid;
  gap: 32px;
}

section h2 {
  grid-column: 1/-1;
}

section article {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: clamp(1rem, 3%, 1.5rem);
  align-items: center;
  border: 3px solid var(--secondary-color-800);
  box-shadow: 7px 7px 0px var(--secondary-color-800);
}

.done h3 {
  text-decoration: line-through;
}

.high,
.error {
  background-color: var(--high-priority);
}

.high.done {
  background-color: var(--high-priority-light);
}

.medium {
  background-color: var(--medium-priority);
}

.medium.done {
  background-color: var(--medium-priority-light);
}

.low,
.success {
  background-color: var(--low-priority);
}

.low.done {
  background-color: var(--low-priority-light);
}

.none {
  background-color: var(--none-priority);
}

.none.done {
  background-color: var(--none-priority-light);
}

section input[type="checkbox"] {
  appearance: none;
  background-color: #FFF;
  color: var(--secondary-color-800);
  width: max(44px, 2em);
  height: max(44px, 2em);
  border: 3px solid currentColor;
  display: grid;
  place-content: center;
  flex-shrink: 0;
}

section input[type="checkbox"]::before {
  content: "";
  width: 1.5em;
  height: 1.5em;
  transform: scale(0);
  box-shadow: inset 1em 1em var(--secondary-color-800);
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

section input[type="checkbox"]:checked::before {
  transform: scale(1);
}

section div {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

/*Todos by category page*/
header div,
header form {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 24px;
}

header form {
  align-items: center;
}

header form input[type="text"] {
  font-size: var(--fs-200);
  font-weight: 500;
}

div h1 {
  margin-right: auto;
}

/*Links and button states*/

a {
  color: var(--secondary-color-900);
}

a:hover,
a:active,
.link:hover,
.link:active,
a[aria-current] {
  text-decoration: underline;
  font-weight: 500;
}

*:focus,
.close:hover,
fieldset [type="checkbox"]:focus+label {
  outline: 3px solid var(--secondary-color-800);
  outline-offset: 3px;
}

button:not(.link, .close):hover,
button:not(.link, .close):focus {
  background-color: var(--accent-color-800);
  color: var(--background-color);
  text-decoration: none;
  box-shadow: 0px 0px 0px var(--secondary-color-800);
}

.underline {
  text-decoration: underline;
}

.skip-link:focus {
  display: block;
  background-color: var(--background-color);
  color: var(--secondary-color-900);
  text-decoration: underline;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: auto;
  width: max-content;
  padding: 16px;
  z-index: 20;
}

/*Forms*/

main>form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: min(500px, 100%);
}

label {
  display: block;
  font-weight: 500;
}

main>form *+* {
  margin-block-start: 12px;
}

main>form>*+* {
  margin-block-start: 32px;
}

input[type="text"],
input[type="date"],
select {
  border: 3px solid var(--secondary-color-800);
  font-family: inherit;
  font-size: var(--fs-100);
  padding: 4px 12px;
  width: min(500px, 100%);
  background-color: #FFF;
}

fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
  border: none;
  flex-basis: 100%;
}

fieldset:last-of-type {
  margin-inline-end: auto;
}

legend {
  display: contents;
  font-weight: 500;
}

fieldset input[type="checkbox"] {
  appearance: none;
  opacity: 0;
}

fieldset label {
  padding: 4px 16px;
  background-color: var(--accent-color);
  font-weight: 400;
  border: 3px solid var(--secondary-color-800);
}

fieldset div>div {
  gap: 0;
}

fieldset input[type="checkbox"]:checked+label {
  background-color: var(--accent-color-800);
  color: var(--background-color);
  font-weight: 500;
}

.filter {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  padding: 2rem 1rem;
  margin-inline-end: clamp(1rem, 6%, 3rem);
  z-index: 1;
  max-width: min(500px, 100%);
  border: 3px solid var(--secondary-color-800);
}

.filter>div {
  gap: 16px;
}

/*Buttons*/

button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: var(--secondary-color-900);
  border: 0;
  padding: 0;
  cursor: pointer;
}

button:not(.link, .close) {
  border: 3px solid var(--secondary-color-800);
  padding: 8px 16px;
  background-color: var(--accent-color);
  box-shadow: 4px 4px 0px var(--secondary-color-800);
}

#filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter button {
  flex-basis: 100%;
}

/*Menu button*/
#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: absolute;
  right: 0;
  margin: clamp(1rem, 6%, 3rem);
  z-index: 11;
  box-shadow: none;
  background-image: url("../images/open-menu.svg");
  background-repeat: no-repeat;
  background-size: 32px auto;
  background-position: 50%;
  background-color: transparent;
  border: none;
}

#menu[aria-expanded="true"] {
  background-image: url("../images/close-menu.svg");
}

.show-menu {
  display: block;
}

.filter.show-menu {
  display: flex;
}

/*Modal*/

.hidden,
.info.hidden {
  display: none;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  inset: 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
  padding: 32px;
  background-color: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--secondary-color-800);
}

.modal-content>*+* {
  margin-block-start: 2rem;
}

.modal-content>div {
  display: flex;
  gap: 48px;
}

/*Info messages*/

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--secondary-color-800);
  padding: 1rem;
}

.info>*,
p.info {
  gap: 8px;
  display: flex;
  align-items: center;
}

.info li+li {
  margin-block-start: 0.5rem;
}

header .info,
form .info {
  border: 3px solid var(--secondary-color-800);
  justify-content: flex-start;
}

/* Media queries*/
@media screen and (min-width: 50rem) {
  .navigation {
    display: block;
    position: static;
  }

  #menu {
    display: none;
  }

  main header {
    margin-block-start: 2rem;
  }
}

@media screen and (min-width: 75rem) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (prefers-reduced-motion:no-preference) {
  button:not(.link, .close) {
    transition: box-shadow ease 0.5s;
  }
}